<section class="flex gap-3 bg-white shadow-lg rounded-md overflow-hidden text-slate-800">
  <div class="mx-auto p-8">
    <div class="mx-auto max-w-3xl">
      <header class="text-center">
        <h1 class="text-xl font-bold text-slate-900 sm:text-3xl">Your Cart</h1>
      </header>

      <div class="mt-8">
        <ul class="space-y-4">
          <% @cart.cart_items.each do |cart_item| %>
            <%= render partial: "shop/cart/item", locals: {cart_item: } %>
          <% end %>
        </ul>

        <div class="mt-8 flex justify-end border-t border-slate-100 pt-8">
          <div class="w-screen max-w-lg space-y-4">
            <dl class="space-y-0.5 text-sm text-slate-700">
              <div class="flex justify-between">
                <dt>Subtotal</dt>
                <dd><%= number_with_precision(@subtotal, precision: 2) %> €</dd>
              </div>

              <div class="flex justify-between">
                <dt>VAT (<%= @vat_percentage * 100.0 %>%)</dt>
                <dd><%= number_with_precision(@vat, precision: 2) %> €</dd>
              </div>

              <div class="flex justify-between">
                <dt>Discount (<%= @discount_percentage * 100.0 %>%)</dt>
                <dd><%= number_with_precision(@discount, precision: 2) %> €</dd>
              </div>

              <div class="flex justify-between !text-base font-medium">
                <dt>Total</dt>
                <dd><%= number_with_precision(@total, precision: 2) %> €</dd>
              </div>
            </dl>
            
            <div class="flex justify-end">
              <%= link_to "Checkout", "#", class: "whitespace-nowrap rounded-lg mt-5 py-3 px-5 hover:bg-rose-600 bg-slate-700 text-white font-medium" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>