<div class="flex gap-3 bg-white shadow-lg rounded-md overflow-hidden p-10 text-slate-800">
  <div class="basis-1/2 flex flex-col ">
    <%= image_tag @product.image, class: "w-full pb-5 object-cover" %>
    <div class="grow"></div>
    <%= render partial: "customization" if @product.customizable? %>
  </div>
  <div class="basis-1/2 flex flex-col ml-10">
    <div class="text-ellipsis text-xl pb-5">
      <%= @product.brand %>
    </div>

    <div class="text-2xl font-bold pb-4">
      <%= @product.model %> (<%= @product.year %>)
    </div>

    <div class="text-xs pb-2">
      Ref: <%= @product.uuid %>
    </div>

    <div class="text-md pb-5">
      <%= @product.description %>
    </div>

    <div class="pb-10">
      <span class="p-2 bg-rose-600 font-bold text-white">
        <%= @product.customizable? ? "Customizable" : "#{number_with_precision(@product.base_price, precision: 2)} €" %>
      </span>
    </div>

    <%= render partial: "attributes" %>

    <div class="text-right pb-8">
      <% if @product.stock_available? %>
        <%= link_to "Add to Cart", "#", class: "whitespace-nowrap rounded-lg mt-5 py-3 px-5 hover:bg-rose-600 bg-slate-500 text-white font-medium" %>
      <% else %>
        <span class="text-slate-600 text-sm pr-3">Temporarily out of stock</span>
        <span class="whitespace-nowrap flex-none rounded-lg mt-5 py-3 px-5 bg-slate-400 text-white font-medium"><del>Add to Cart</del></span>
      <% end %>
    </div>
    <%= render partial: "services" %>   
  </div>
</div>
