<div class="pb-2 text-xl font-semibold">
  Customization
</div>

<div class="text-sm flex flex-col gap-3">
  <% @product.customizable_parts.each_with_index do |part, index| %>
    <div>
      <div class="font-bold pb-2"><%= part.name %></div>
      <%= hidden_field_tag "product[customizable_parts_attributes][#{index}][id]", part.id %>
      <%= hidden_field_tag "product[customizable_parts_attributes][#{index}][customization]", "" %>
      <%= hidden_field_tag "product[customizable_parts_attributes][#{index}][option]", "" %>
      <div class="flex">
        <%= text_field_tag "product[customizable_parts_attributes][#{index}][part_name]", "", disabled: true, placeholder: "Select a part...", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        <%= link_to "#", class: "text-slate-600 transition hover:text-rose-600 px-3 py-2 mt-2" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z" />
          </svg>
        <% end %>
      </div>
      <%#= render partial: "shop/product/part_options", locals: { product_form:, part_options: part.part_options } %>
    </div>
  <% end %>
</div>