<tr>
  <td class="whitespace-nowrap px-4 py-2 text-slate-900"><%= product.category.name %></td>
  <td class="whitespace-nowrap px-4 py-2 text-slate-900"><%= product.brand %></td>
  <td class="whitespace-nowrap px-4 py-2 text-slate-700"><%= product.model %></td>
  <td class="whitespace-nowrap px-4 py-2 text-slate-700"><%= truncate(product.description, length: 50) %></td>
  <td class="whitespace-nowrap px-4 py-2 text-slate-700 text-center"><%= number_to_euros(product.base_price) %></td>
  <td class="whitespace-nowrap px-4 py-2">
    <%= link_to "View", [:admin, product], class: "w-auto ml-2 rounded-lg py-3 px-5 bg-slate-600 text-white inline-block hover:bg-rose-600 text-xs" %>
  </td>
</tr>