<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Uuid:</strong>
    <%= product.uuid %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Brand:</strong>
    <%= product.brand %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model:</strong>
    <%= product.model %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Base Price:</strong>
    <%= product.base_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= image_tag image_or_placeholder(product.image), class: "h-48 pb-5 object-cover" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= product.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Enabled:</strong>
    <%= product.enabled %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stock available:</strong>
    <%= product.stock_available %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Customizable:</strong>
    <%= product.customizable %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= product.category.name %>
  </p>

</div>
