<div class="bg-white shadow-lg rounded-md overflow-hidden p-10 text-slate-800">
  <div class="mx-auto w-full flex">
    <div class="mx-auto">
      <h1 class="font-bold text-2xl">Product Details</h1>

      <%= render @product %>

      <%= render partial: "admin/products/related_entities", locals: { product: @product, show_actions: false } %>

      <%= link_to "Edit this product", edit_admin_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block bg-slate-600 text-white hover:bg-rose-600 text-xs" %>
      <%= link_to "Back to products", admin_products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block bg-slate-600 text-white hover:bg-rose-600 text-xs" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this product", [:admin, @product], method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 bg-slate-600 text-white hover:bg-rose-600 text-xs" %>
      </div>
    </div>
  </div>
</div>